html{
    font-size: 62.5%;
}
body{
    margin:0;
    padding:0;
}
div{
    background-color: #68CDD5;
}
/*头部*/
.tb{
    width: 100%;
    padding-top: 15px;
}
/*返回按钮*/
.tb_fh{
    margin-left: 24px;
    width: 37px;
    padding-top: 37px;
    background-image: url(fh.png);
    background-size:100%;
    background-repeat: no-repeat;
}
/*商标*/
.sb{
    width: 100%;
    padding-top: 45%;
    background-image: url(sb.png);
    background-repeat: no-repeat;
    background-position: center;
}
/*介绍*/
.js{
    width: 70%;
    padding: 15%;
    line-height: 150%;
    font-family: "宋体";
    font-size: 2.1rem;
    font-weight: bold;
}
/*尾部*/
.wb{
    width: 100%;
    padding-bottom: 30%;
}
.bq1{
    width: 15%;
    position: absolute;
    left: 15%;
}
.bq2{
    width:15%;
    position: absolute;
    right: 15%;
}
.clear{
    content: "";
    clear: both;
    display: block;
}